*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}
#logo{
  width: 250px;
  padding-top: 30px;
  padding-left: 30px;
}
#logo img{
    width: 100%;
}
ul{
    display: flex;
   padding-top: 25px;
}
li{
    list-style: none;
}




a {
  text-decoration: none;
  transition: 0.4s;
  position: relative;
   color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: ;
    padding: 15px;
}

a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #1eb2a6;
  bottom: 0;
  left: 0;
  transition: width 0.4s;
}

a:hover::before {
  width: 100%;
}
a:hover{
    color: #1eb2a6;
}






.banner{
	width: 100%;
	height: 600px;
	background-image: url(../img/banner\ img1.jpg);
	background-size: cover;
	animation-name: Taha;
	animation-duration: 10s;
	animation-iteration-count: infinite;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes Taha{
	40%{background-image: url(../img/banner\ img2.jpg)}
    90%{background-image: url(../img/banner\ img3.jpg)}
}
.content{
    width: 800px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.content h1{
     font-size: 40px;
}.content h5{
     margin-top: 20px;
}
.btn{
    padding: 20px;
    margin-top: 150px;
    background-color: transparent;
    border: solid 3px #1eb2a6;
    color: white;
    transition: 0.3s;
}
.btn:hover{
    background-color: #1eb2a6;
}
.main{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img_div{
   width: 590px;
   background-color: blueviolet;
}
.img_div img{
   width: 100%;
}
.Harvel_content{
    width: 550px;
    height: 400px;
    padding: 60px;
    margin-top: 50px;
}
.Harvel_content p{
    padding-top: 20px;
    color: gray;
}
.list_img{
    width: 15px;
    height: 70px;
    float: left;
    margin-top: 30px;
}
.list p{
    padding-left: 20px;
}
.list_img img{
    width: 100%;
    margin-top: 20px;
}
.btn1{
    padding: 20px;
    background-color: transparent;
    border: solid 3px #1eb2a6;
    color: black;
    margin-top: 30px;
    transition: 0.3s;
}
.btn1:hover{
    background-color: #1eb2a6;
}

@media screen and (max-width:763px) {
    .img_div{ 
        width: 100%;
        background-color: #1eb2a6;
        d
    }
}