@media (max-width: 768px) {

    .detail-box {
        width: 100%;
        margin: 10px;
        /* padding: 5px; */
        /* background-color: red; */
        height: 90vh;
    }

    .box-img img {
        height: 100%;
        width: 100%;

    }

    .box-img {
        height: 230px;
        min-width: 250px;
    }

    label {
        font-size: 14px;
    }

    .btns {
        padding: 12px;
        margin-right: 5px;
    }

    .close-btn {
        z-index: 100;
        top: 5px;
        right: 7px;
        font-size: 14px;
        padding: 4px 8px;
    }

    /* .banner {
        flex-direction: column;
        text-align: center;
        padding: 30px;
      
    }

    .right-slider,
    .left-text {
        width: 100%;
       
    }

    

    .slides img {
     
        width: 150px;
        height: 110px;
    }

    .left-text h1 {
        font-size: 32px;
        
    }

    .left-text h5 {
        font-size: 18px;
        
    } */

}

    @media (max-width: 425px) {
        .banner {
            height: 300px;
            width: 100%;
        }

        .nav-list {
            display: none;
        }

        header {
            height: 70px;
        }

        #logo {
            padding-left: 6px;
            width: 183px;
        }

        .humburger {
            display: block;
            margin-left: 140px;
        }
        .sidebar{
            display: block;
            position: fixed;
            z-index: 999;
            width: 30%;
            height: 100vh;
            right: 0;
            top: 0;
            color: red;
        }

        .right-slider {
            width: 60%;
        }

        .left-text {
            width: 35%;
        }

        .left-text h1 {
            font-size: 20px;
        }

        .left-text h5 {
            font-size: 18px;
        }

        .headings {
            align-items: center;
        }

        .headings h3 {
            margin-right: -9px;
            margin-left: 40px;
            margin-top: 30px;
        }
    }

    /* for products */

    @media (max-width: 992px) {
        .items_container1 {
            grid-template-columns: repeat(2, 45%);
        }

        .block-item {
            display: block;
        }
    }

    @media (max-width: 576px) {

        .items_container,
        .items_container1 {
            grid-template-columns: repeat(1, 90%);
        }
    }
    @media (max-width: 375px){
         .headings h3 {
            margin-right: -9px;
            margin-left: 32px;
            margin-top: 30px;
        }
        
        .left-text h1 {
            font-size: 17px;
        }

        .left-text h5 {
            font-size: 16px;
        }
    }