@media (max-width: 768px) {
    .images {
        max-width: 180px;
    }

    .detail-box {
        width: 100%;
        margin: 10px;
        /* padding: 5px; */
        /* background-color: red; */
        height: 90vh;
    }

    .box-img img {
        height: 100%;
        width: 100%;

    }

    .box-img {
        height: 230px;
        min-width: 250px;
    }

    label {
        font-size: 14px;
    }

    .btns {
        padding: 12px;
        margin-right: 5px;
    }

    .close-btn {
        z-index: 100;
        top: 5px;
        right: 7px;
        font-size: 14px;
        padding: 4px 8px;
    }

    .banner {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        /* padding-top: 5vmin;
        padding-left: 5vmin; */
    }

    .right-slider,
    .left-text {
        width: 100%;
        /* margin-top: 15px; */
    }

    /* 
    .slides {
        width: calc(150px * 8);   
        height: 130px;
    } */

    .slides img {
        /* width: 150px;
        height: 100%;
        margin-right: 10px; */
        width: 150px;
        height: 110px;
    }

    .left-text h1 {
        font-size: 32px;
        /* padding-top: 10px ; */
    }

    .left-text h5 {
        font-size: 18px;
        
    }

    /* 
    .left-text {
        width: 100%;
    } */
}

@media (max-width: 425px) {
    .banner {
        height: 300px;
    }

}

/* for products */

@media (max-width: 992px) {
    .items_container {
        grid-template-columns: repeat(2, 45%);
    }

    .block-item {
        display: block;
    }
}

@media (max-width: 576px) {

    .items_container,
    .items_container1 {
        grid-template-columns: repeat(1, 90%);
    }
}