@media (max-width: 768px) {

    .detail-box {
        width: 100%;
        margin: 10px;
        
        height: 90vh;
    }

    .box-img img {
        height: 100%;
        width: 100%;

    }

    .box-img {
        max-height: 400px;
        max-width: 800px;
        display: block;
        margin: auto;
        margin-top: 33px;

    }



    .btns {
        padding: 12px;
        margin-right: 5px;
    }

    .close-btn {
       
        top: 45px;
        font-size: 20px;
        padding: 4px 8px;

    }

   

}

@media (max-width: 425px) {
    .banner-products {
        /* height: 300px; */
        width: 100%;
    }

    .right-slider {
        width: 60%;
    }

    .left-text {
        width: 35%;
    }

    .left-text h1 {
        font-size: 20px;
    }

    .left-text h5 {
        font-size: 18px;
    }

    .headings {
        align-items: center;
    }

    .headings h3 {
        margin-right: -9px;
        margin-left: 40px;
        margin-top: 30px;
    }
    .close-btn {
        z-index: 100;
        top: 50px;
       
        font-size: 20px;
        padding: 8px 0px;

    }
     .box-img {
        max-height: 350px;
       
        margin-top: 40px;

    }

}

/* for products */

@media (max-width: 992px) {
    .items_container1 {
        grid-template-columns: repeat(2, 45%);
    }

    .block-item {
        display: block;
    }
}

@media (max-width: 576px) {

    .items_container,
    .items_container1 {
        grid-template-columns: repeat(1, 90%);
    }
}

@media (max-width: 375px) {
    .headings h3 {
        margin-right: -9px;
        margin-left: 32px;
        margin-top: 30px;
    }

    .left-text h1 {
        font-size: 17px;
    }

    .left-text h5 {
        font-size: 16px;
    }
}

/* for header */
@media (max-width: 1024px) {

    li a {
        font-size: 11px;
        padding: 8px;
    }

    header {
        gap: 130px;
    }

}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .sidebar {
        position: fixed;
        width: 45%;
        height: 100vh;
        left: 0;
        right: 0;
        backdrop-filter: blur(10px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 999;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
    }

    .sidebar-list {
        padding: 25px 15px;
        border-top: 1px dashed black;
        padding-left: 0;
        font-size: large;
    }

    
    .sidebar-list:first-child {
       
        border-top: none;
    }

    .humburger {
        display: block;
        margin-left: 30px;
    }

    #logo {
        width: 200px;
        padding-left: 10px;
    }

    header {
        justify-content: space-between;
        gap: 50px;
    }

    .navbar-logo {
        display: flex;
        height: auto;
        align-items: center;
    }

    .icon {
        gap: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 425px) {
    #logo {
        width: 150px;
        padding-left: 5px;
    }

    .icon {
        gap: 15px;
        margin-right: 50px;
    }
}

@media (max-width: 375px) {
    .icon {
        margin-right: 25px;
        gap: 6px;
        width: auto;
    }

    #logo {
        width: 130px;
        padding-left: 6px;
    }

    header {
        gap: 15px;
    }
}

/* contact page   */
/* contact page content */
@media (max-width: 992px) {

    #message-input {
        height: 200px;
    }

    .contact-icon {
        padding: 12px;
    }

    .contact-icon i {
        font-size: 22px;
    }

    .contact-method h4 {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 576px) {

    #message-input {
        height: 170px;
    }

    #name-input,
    #email-input,
    #subject-input {
        height: auto;
    }

   

}

#message-input textarea,
#name-input input,
#email-input input,
#subject-input input {
    padding: 10px 12px;
    font-size: 15px;
}

.contact-icon {
    flex-direction: row;
    padding: 12px;
    gap: 12px;
    margin-bottom: 15px;
}

.contact-icon i {
    font-size: 20px;
}

.contact-method h4 {
    font-size: 15px;
}

.contact-method p {
    font-size: 14px;
}

/* for contact page banner */
@media (max-width: 768px) {

    .cb-text {
        padding-left: 20%;
        padding-top: 40%;
    }

    .cb-icons {
        padding-top: 40%;
        gap: 30px;
    }
}

@media (max-width: 425px) {

    .cb-text {
        
        padding-top: 32%;
        
    }

   

    .cb-icons {
        padding-top: 30px;
        gap: 30px;
    }
}



@media (max-width: 1024px) {
    .cb-text {
        padding-left: 20%;
        padding-top: 40%;
    }

    .cb-icons {
        padding-top: 40%;

    }
}

@media (max-width: 430px) {
    .cb-icons {
        padding-top: 20px;
        gap: 30px;
    }

    .cb-text h1 {
        text-align: center;
    }

    .cb-text p {
        text-align: center;
        font-size: 15px;
    }

    .cb-text {
        padding-top: 35%;
        padding-left: 0;
    }

    /* for navbar */
    .icon {
        margin-right: 50px;
        gap: 6px;
        width: auto;
    }

    header {
        gap: 3px;
    }

    .headings h3 {
        margin-right: -7px;
        margin-left: 35px;
       
    }

    .single-head {
        
        padding-left: 30px;
    }


}

@media (max-width: 320px) {


    .right-slider {
        width: 60%;
    }

    .left-text {
        width: 40%;
    }

    .left-text h1 {
        font-size: 18px;
    }

    .left-text h5 {
        font-size: 15px;
    }

    .headings h3 {
        font-size: 18px;
        margin-left: 30px;

    }
}