@media (max-width: 768px) {

    .detail-box {
        width: 100%;
        margin: 10px;
        /* padding: 5px; */
        /* background-color: red; */
        height: 90vh;
    }

    .box-img img {
        height: 100%;
        width: 100%;

    }

    .box-img {
        height: 230px;
        min-width: 250px;
    }

    label {
        font-size: 14px;
    }

    .btns {
        padding: 12px;
        margin-right: 5px;
    }

    .close-btn {
        z-index: 100;
        top: 5px;
        right: 7px;
        font-size: 14px;
        padding: 4px 8px;
    }

    /* .banner {
        flex-direction: column;
        text-align: center;
        padding: 30px;
      
    }

    .right-slider,
    .left-text {
        width: 100%;
       
    }

    

    .slides img {
     
        width: 150px;
        height: 110px;
    }

    .left-text h1 {
        font-size: 32px;
        
    }

    .left-text h5 {
        font-size: 18px;
        
    } */

}

@media (max-width: 425px) {
    .banner {
        /* height: 300px; */
        width: 100%;
    }

    .right-slider {
        width: 60%;
    }

    .left-text {
        width: 35%;
    }

    .left-text h1 {
        font-size: 20px;
    }

    .left-text h5 {
        font-size: 18px;
    }

    .headings {
        align-items: center;
    }

    .headings h3 {
        margin-right: -9px;
        margin-left: 40px;
        margin-top: 30px;
    }
}

/* for products */

@media (max-width: 992px) {
    .items_container1 {
        grid-template-columns: repeat(2, 45%);
    }

    .block-item {
        display: block;
    }
}

@media (max-width: 576px) {

    .items_container,
    .items_container1 {
        grid-template-columns: repeat(1, 90%);
    }
}

@media (max-width: 375px) {
    .headings h3 {
        margin-right: -9px;
        margin-left: 32px;
        margin-top: 30px;
    }

    .left-text h1 {
        font-size: 17px;
    }

    .left-text h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .sidebar {
        position: fixed;
        width: 45%;
        height: 100vh;
        left: 0;
        right: 0;
        backdrop-filter: blur(10px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 999;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
    }

    .sidebar-list {
        padding: 25px 15px;
        border-top: 1px dashed black;
        padding-left: 0;
    }

    .humburger {
        display: block;
        margin-left: 30px;
    }

    #logo {
        width: 200px;
        padding-left: 10px;
    }

    header {
        justify-content: space-between;
        gap: 50px;
    }

    .navbar-logo {
        display: flex;
        height: auto;
        align-items: center;
    }

    .icon {
        gap: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 425px) {
    #logo {
        width: 150px;
        padding-left: 5px;
    }

    .icon {
        gap: 15px;
        margin-right: 50px;
    }
}

@media (max-width: 375px) {
    .icon {
        margin-right: 25px;
        gap: 6px;
        width: auto;
    }

    #logo {
        width: 130px;
        padding-left: 6px;
    }

    header {
        gap: 15px;
    }
}

/* contact page  */
/* @media (max-width: 768px) {
    #message-input {
        width: 680px;
        height: 230px;
    }

    .contact-icon {
        padding-top: 20px;
    }

    #subject-input {
        height: 55px;
        width: 680px;
    }
}

@media (max-width: 425px) {
    #email-input {
        width: 680px;

    }

    #name-input {
        width: 680px;

    }
} */
/* ===========================
   RESPONSIVE DESIGN
   =========================== */

/* Tablet Screens (max-width: 992px) */
/* @media (max-width: 992px) {

    #message-input {
        width: 100%;
        height: 200px;
    }

    #subject-input {
        width: 100%;
    }

    #name-input,
    #email-input {
        width: 100%;
    }

    .contact-icon i {
        font-size: 24px;
        padding-left: 10px;
    }

    .contact-method h4 {
        padding-left: 20px;
    }

    .contact-method p {
        padding-left: 20px;
    }
} */

/* Mobile Screens (max-width: 576px) */
/* @media (max-width: 576px) {

    #message-input {
        width: 100%;
        height: 180px;
    }

    #name-input,
    #email-input,
    #subject-input {
        width: 100%;
        height: 50px;
    }

    #message-input textarea,
    #name-input input,
    #email-input input,
    #subject-input input {
        padding: 8px;
    }

    .contact-icon {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 20px;
    }

    .contact-icon i {
        font-size: 22px;
        padding-left: 0;
    }

    .contact-method h4,
    .contact-method p {
        padding-left: 0;
        font-size: 16px;
    }
} */
@media (max-width: 992px) {

    #message-input {
        height: 200px;
    }

    .contact-icon {
        padding: 12px;
    }

    .contact-icon i {
        font-size: 22px;
    }

    .contact-method h4 {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 576px) {

    #message-input {
        height: 170px;
    }

    #name-input,
    #email-input,
    #subject-input {
        height: auto;
    }

   /* .address{
    margin-top: 20px;
   } */

   }
    #message-input textarea,
    #name-input input,
    #email-input input,
    #subject-input input {
        padding: 10px 12px;
        font-size: 15px;
    }

    .contact-icon {
        flex-direction: row;
        padding: 12px;
        gap: 12px;
        margin-bottom: 15px;
    }

    .contact-icon i {
        font-size: 20px;
    }

    .contact-method h4 {
        font-size: 15px;
    }

    .contact-method p {
        font-size: 14px;
    }
