* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    height: 400px;
    background-image: url(fan_img/banner1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 15vmin;
    padding-left: 10vmin;
}

.banner span {
    border-right: 2px solid white;
    color: #ffffff;
}

.banner h3 {
    color: #1eb2a6;
}
#card_product{
    box-shadow: 3px 5px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    width: 100%;
    max-width: 240px;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;

}

.product-img1,
.product-img2,
.product-img3,
.product-img4,
#item {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-img1,
.product-img2,
.product-img3,
.product-img4 {
    display: none;
    object-fit: cover;
}

.main-head{
    color: #1eb2a6;
    margin-top: 3vmin;
}

.btn-custom {
    width: 30vmin;
    padding: 6px 10px;
    margin: auto;
    border: 2px solid #1eb2a6;
}

.btn-text {
    text-decoration: none;
    color: black;
}

.btn-custom:hover .btn-text {
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #1eb2a6;

}